{{ $repo := .Get "repo" }}
{{ $detail := dict }}
{{ with resources.GetRemote (printf "https://api.github.com/repos/%s" $repo) }}
{{ $detail = .Content | transform.Unmarshal }}
{{ end }}
<article class="shortcode-card">
  <a href="https://github.com/{{ $repo }}" target="_blank" rel="noopener">
    <header>
      <img alt="{{ $repo }}" src="https://opengraph.githubassets.com/1/{{ $repo }}" loading="lazy" decoding="async" width="1200" height="600" />
    </header>
    <div class="shortcode-card-content">
      {{ with $detail }}
      <p>{{ .description }}</p>
      {{ end }}
      <span>github.com</span>
    </div>
  </a>
</article>
